html {
    height: 100%;
    width: 100%;

}

.header-bg {
  background-image: url('header.png');
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: 100% ;


  /*color: #C6DABF;*/
  color: #114B5F;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.header-text {
  /*background-color: #114B5F;*/
  width: 100%;
}

.navbar {
  background-color: #F3E9D2 !important;
  padding: 10px;
}
.navbar .nav-link {
  color: #1a936f !important;
}
.navbar .nav-link:hover {
  color: #114B5F !important;
  text-decoration: underline;
}

/* Paleta personalizada Quienes somos*/
.bg-midnight { background-color: #114B5F !important; }
.bg-emerald { background-color: #1A936F !important; }
.bg-granny { background-color: #88D498 !important; }
.bg-tea { background-color: #C6DABF !important; }
.bg-eggshell { background-color: #F3E9D2 !important; }

.text-midnight { color: #114B5F !important; }
.text-emerald { color: #1A936F !important; }
.text-granny { color: #88D498 !important; }
.text-tea { color: #C6DABF !important; }
.text-eggshell { color: #F3E9D2 !important; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F3E9D2;
}

#main-content {
  min-height: 60vh;
}

#ad-col, #news-col {
  min-height: 400px;
  font-size: 1.5rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}