html {
    height: 100%;
    width: 100%;
  }
.navbar {
  background-color: #F3E9D2 !important;
  padding: 10px;
}
.navbar .nav-link {
  color: #1a936f !important;
}
.navbar .nav-link:hover {
  color: #114B5F !important;
  text-decoration: underline;
}